*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
/*------------ */
.sites{
    background-color: rgb(49, 109, 217);
    /* border: 1px solid; */
    text-align: center;

}
.icons{
    padding-top:7px ;
}

.main{
    text-align: center;
    color: white;
    padding-top: 12px;  
}

.btn{
    font-size:0.7em ;
    padding:4px 7px 4px 7px ;
    color: darkgreen;
    border-radius: 0%;
    border: 1px solid;
    
}
.btns{
    padding-top: 12px;
   
}

/* ------------- */

.navbar{
    padding-left: 8%;
}
    
.navbar-hover .collapse ul li{position:relative; font-size: 15px;}
.navbar-hover .collapse ul li:hover> ul{display:block;}
.navbar-hover .collapse ul ul{position:absolute;top:100%;left:0;min-width:150px;display:none}
.navbar-hover .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:150px;display:none}
    
.navbar-hover .collapse ul .active a:active{
    background-color: rgb(36, 110, 214);
}


.navbar-hover .collapse ul li:hover{
     background-color: rgb(36, 110, 214);
     border-radius: 17px; 
}
.navbar-hover .collapse ul li .nav-link:hover{
    color: white;
    
}
.navbar-hover .collapse ul .dropdown-menu li a:hover{
    background-color:  rgb(36, 110, 214);
    color: white;
}
.navbar-hover .collapse ul .dropdown-menu li a:hover::after{
    text-decoration: underline;
    transform: rotate(-90deg);
}
/* ------------- */

.carousel-inner img{
    height: 500px;
}
@media only screen and (max-width:767px){
    .carousel-inner img{
        width: 100%;
        height: 100%;
    }
}
/* ------------- */

.mycbox2{
    background-color:#316DC3 ;
    width: 85%;
    margin: auto;
    margin-top: 8px;
    color: white;
}
.mycbox2 span{
    color: green;
}
.mycbox2 a{
    text-decoration: none;
}

/* ------------------- */

.mycbox3{
    text-align: justify;
    padding-top: 4%;
    padding-bottom: 5%;
    margin-top: 1%;
    background-color: #f7f8fa;
}
.mycbox3 .intro{
    text-align: center;
}
.mycbox3 .intro .logo{
    padding-bottom: 25px;
}
span{
    color: green;
    
}
.dbox{
    width: 70%;
}
.mycbox3 .one{
    color: #316DC3;
    font-family: 'Merriweather', serif;
    font-weight: 600;
}
.mycbox3 .two{
    color: #427900;
    font-family: 'Merriweather', serif;
    font-weight: 600;
}

.mycbox3 p{
    color: rgb(133, 133, 141);
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.9;
}

/* ------------------- */

.mycbox4{
    background-color: blue;
    text-align: center;
    padding:35px 0px 60px 0px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: 1px solid; */
}
.facilities span{
    color: rgb(6, 240, 6);
    font-weight: bold;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.colleft{
    padding-left: 3%;
    padding-top: 3%;
}
.colright{
    padding-top: 3%;
    padding-right: 3%;
}

/* ------------------- */

.mycbox5{
    /* border: 1px solid; */
    background-color: #f7f8fa;
    padding-top: 5%;
    padding-bottom: 5%;
}
.mycbox5 .bottom-line{
    text-align: center;
}
.mycbox5 .bottom-line .logo{
    padding-bottom: 25px;
}
.mycbox5 .one{
    color: blue;
    font-family:'Merriweather', serif;
    font-weight: bold;
}
.mycbox5 .two{
    color: green;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
.mycbox5 .work{
    /* border: 1px solid;  */
    text-align: center;
    margin: 1%;
    padding: 30px 6px 14px 6px;
    background-color: white;
    color: #316DC3;
    font-family: 'Merriweather', serif;
    box-shadow: 2px 2px 9px gainsboro;
}
.mycbox5 .work img{
    width: 70px;
}
.mycbox5 .work h5{
    font-weight: bold;
    font-size: 19px;
    line-height: 60px;
}

/* ------------------- */

.mycbox6{
    /* border: 1px solid; */
    padding-bottom: 6%;
}
.dbox1{
    /* border: 1px solid; */
    padding: 5px;
    height: 30%;
}
.mycbox6 .heading h4{
    /* border: 1px solid; */
    padding-top: 50px;
    font-family: 'Merriweather', serif;
    color:#316DC3;
    font-weight: bold;
}
.mycbox6 .dbox1 .base-line{
    width: 40px;
    height: 2px;
    background-color: green;
    display: flex;
}
.projects{
    border: 1px solid gainsboro;
    margin: 13px;
    display: flex;
    padding: 15px;
    background-color: rgb(247, 247, 247);
}
.projects h6{
    padding-left: 25px;
    padding-top: 7px;
    color:#316DC3;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}

/* ------------------- */

.mycbox7 h3{
    padding-top: 50px;
    font-family: 'Merriweather', serif;
    color:#316DC3;
    font-weight: bold;   
}
.mycbox7 .events{
    padding-bottom: 28px ;
}
.mycbox7 .base-line{
    width: 40px;
    height: 2px;
    background-color: green;
    display: flex;
    margin-left: 1%;
}
.mycbox7 marquee{
    padding-left: 3%;
    margin: 0;
    font-size: 15px;
}

/* ------------------- */

.mycbox8{
    padding-bottom: 15%;
    /* border: 1px solid; */
}
.mycbox8 .bottom-line{
    text-align: center;
}
.mycbox8 .bottom-line .logo{
    padding-bottom: 25px;
}
.mycbox8 h2 .blue{
    color: #316DC3;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
.mycbox8 h2 .green{
    color: green;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.mycbox8 img{
    /* border: 1px solid black; */
    margin: 1px;
}
@media only screen and (max-width:767px){
    .img-gallery img{
        width: 70%;
        margin:0 auto;
        margin: 10px 0 10px 0;
    }
}

.mycbox8 .img-gallery img:hover{
    opacity: 0.4;
}
/* ------------------- */

.mycbox9{
 background-color: black;
 color: white;
 padding: 0;
 margin: 0;
}
.mycbox9 .adresses{
    /* border: 1px solid; */
    padding: 60px 0px 60px 0px;
}
.mycbox9 .numbers{
    padding-left: 60px;
    font-size: 15px;
}

.mycbox9 .link{
    padding-left: 8%;
}

.mycbox9 .social{
    padding-left:8% ;
}
.mycbox9 img{
    background-color: white;
    border-radius: 20px 20px;
}   

.mycbox9 span { 
    display:flex;
      float:left; 
      height:2px;
}
.line{
    width:100%;
}
.color-1{
    background:rgb(19, 197, 19);
    width: 13%;

}
.color-2{
    background: #444;
    width: 87%;
}

/* ------------------- */

.mycbox10{
    background-color:rgb(49, 109, 217) ;
    color: white;
    font-size: 13px;
    padding:13px 0px 1px 50px;

}

/* ------------------- */

.GoToTop{
   background: rgba(0, 0, 0, 0.1);
    bottom: 15px;
    height: 50px;
    padding: 2px;
    position: fixed;
    right: 25px;
    text-align: center;
    text-decoration: none;
    width: 50px;
}
.GoToTop .fa{
    font-size: 42px;
    color: white;
}
.GoToTop:hover{
    background-color: grey;
}

/* ------------------- */
